*{
    text-decoration: none;
    background-color: hsl(299, 95%, 40%) ;
}

.navbar{
    font-family: Arial, sans-serif;
    padding-left: 15px;
    padding-right: 15px;

}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 60px;
    margin: 10px;
}

li{
    list-style: circle;
    display: inline-block;
}

li a{
    color: white;
    font-size: 18px;
    position: relative;
    font-weight: bold;
    padding-right: 30px;
    margin-inline: auto;
}

.h2{
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 80px;



}

.h3{
    color: white;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 30px ;
    padding-left: 30px;
    padding-top: 20px;
}


.image2{
  display: flex;
  justify-content: flex-end;
  margin-top: -27%;
  margin-right: 20px;
}

.second div{
    margin-top: -10%;
}

@media screen and (max-width: 1200px){
    .h3{
        color: white;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 30px ;
       
    }

}